// Estilos para el dropdown
.dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
  z-index: 1050;
  display: none;
  
  &.show {
    display: block;
  }
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  background-color: transparent;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
  
  &:hover {
    opacity: 0.8;
  }
}

.nav-item.dropdown {
  position: relative;
  z-index: 1050;
}
